<div class="banner">
    <h1>Thomas Doyle-Engler</h1>
    <p>Full Stack Developer</p>
  <div id="img-left" class="wow slideInLeft">
    <%=  image_tag( "Yin_yang.svg.png", id: 'left-small') %>
  </div>
  <div id="clickMe">
    <%= link_to "Projects" %>
    <%= link_to "About" %>
    <%= link_to "Contact Me" %>
  </div>
</div>
